<h1> Add Phone Number</h1>
<hr></hr>
<!-- Creates a form based off of the new method that creates an instance of Phone -->
<%= form_for @phone do |form| %>
<%= form.label :number%><br>
<%= form.text_field :number %><br>
<%= form.label :manufacturer%><br>
<%= form.text_field :manufacturer %><br><br>
<%= form.label :owner %><br>
<!-- :contact will the name of the field in the DB we want to populate
@contact data from PhonesController
:id is the value in the DB
:name is what is displayed in the dropdown list
-->
<%= form.collection_select :contact_id, @contacts, :id, :id_and_name %><br>
<%= form.submit %>
<% end %>
<br>
<%# This creates a link to take us to the phones pages %>
<%= link_to 'Return to phone list', phones_path %>
